<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title th:text="#{entry.create}"></title>
        <link rel="stylesheet" th:href="@{/css/entries.css}" />
        <script type="text/javascript">

            function setPasswordValidity() {
                if (!$("#enable-password-validity").is(":checked")) {
                    $("#password-validity").attr("disabled", "disabled");
                } else {
                    $("#password-validity").removeAttr("disabled");
                }
            }

            var passwordVisible = false;
            function showPassword() {
                var showPasswordUrl = "url([[@{/images/show_password.png}]])";
                var hidePasswordUrl = "url([[@{/images/hide_password.png}]])";
                passwordVisible = !passwordVisible;
                if (passwordVisible) {
                    $("#password").attr("type", "text");
                    $("#show-hide-password").css("background-image", hidePasswordUrl);
                } else {
                    $("#password").attr("type", "password");
                    $("#show-hide-password").css("background-image", showPasswordUrl);
                }
            }

            function copyPasswordToClipboard() {
                var password = $("#password").val();
                $("body").append(`<input id="temp_password" type="text" value="${password}"/>`);
                $("#temp_password").select();
                document.execCommand("copy");
                $("#temp_password").remove();
            }

            function generatePassword() {
                var type = $("#password-type-container input[name='password-type']:checked").val();
                var length = $("#password-length").val();
                var url = `[(@{/rest/entries/generate-password?type=${type}&length=${length}})]`;
                $.get(url, function (data, textStatus, xhr) {
                    if (xhr.responseJSON) {
                        $("#password").val(data.password);
                    }
                });
            }
        </script>
    </head>
    <body>
        <div layout:fragment="content" id="content">
            <h3 th:text="#{entry.create}" />
            <form th:action="@{/entries/create}" th:object="${entry}" method="post">
                <table id="fields-table">
                    <tr>
                        <td th:text="#{entry.name}"></td>
                        <td>
                            <input type="text" th:field="*{name}" autofocus="autofocus" />
                        </td>
                        <td class="error" th:errors="*{name}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{entry.login}"></td>
                        <td>
                            <input type="text" th:field="*{login}" />
                        </td>
                        <td class="error" th:errors="*{login}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{entry.email}"></td>
                        <td>
                            <input type="email" th:field="*{email}" />
                        </td>
                        <td class="error" th:errors="*{email}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{entry.description}"></td>
                        <td>
                            <textarea th:field="*{description}" rows="3" />
                        </td>
                        <td class="error" th:errors="*{description}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{entry.group}"></td>
                        <td>
                            <select th:field="*{group}">
                                <option th:each="group : ${groups}" th:text="${group.name}" th:value="${group.id}"></option>
                            </select>
                        </td>
                        <td class="error" th:errors="*{group}"></td>
                    </tr>
                </table>
                <fieldset id="password-wrapper">
                    <legend th:text="#{entry.password}"/>
                    <div id="password-container">
                        <input id="password" type="password" th:field="*{password}"/>
                        <button type="button" id="show-hide-password" onclick="showPassword()" 
                                th:style="'background-image: url(' + @{/images/show_password.png} + ')'" />
                        <button type="button" onclick="copyPasswordToClipboard()" 
                                th:style="'background-image: url(' + @{/images/copy.png} + ')'" />
                    </div>
                    <div class="error" th:errors="*{password}"/>
                    <div id="password-type-container">
                        <input type="radio" name="password-type" value="simple" checked="checked"/>
                        <label for="password-type-simple" th:text="#{entry.password.simple}" />
                        <input type="radio" name="password-type" value="complex" />
                        <label for="password-type-complex" th:text="#{entry.password.complex}" />
                    </div>
                    <table id="password-table">
                        <tr>
                            <td colspan="2" th:text="#{entry.password.length}"/>
                            <td>
                                <input type="number" id="password-length" min="1" max="100" value="15"/>
                            </td>
                            <td th:text="#{entry.password.length.symbols}"/>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="enable-password-validity" id="enable-password-validity" checked="checked" onclick="setPasswordValidity()"/>
                            </td>
                            <td th:text="#{entry.password.validity}"/>
                            <td>
                                <input type="number" name="password-validity" id="password-validity"
                                       min="1" max="36" value="3" />
                            </td>
                            <td th:text="#{entry.password.validity.months}"/>
                        </tr>
                    </table>
                    <div>
                        <input type="button" th:value="#{entry.password.generate}" onclick="generatePassword()" />
                    </div>
                </fieldset>
                <div id="submit-container">
                    <input type="submit" th:value="#{create}" />
                </div>
            </form>
        </div>
    </body>
</html>