<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title th:text="#{entry.save}"></title>
        <link rel="stylesheet" th:href="@{/css/entries.css}" />
        <script type="text/javascript">

            function setPasswordValidityEnabled() {
                if ($("#remove-password-validity").is(":checked")) {
                    $("#prolong-password").attr("disabled", "disabled");
                } else {
                    $("#prolong-password").removeAttr("disabled");
                }
            }

            function setPasswordValidity() {
                if ($("#prolong-password").is(":checked")) {
                    $("#password-validity").removeAttr("disabled");
                    $("#remove-password-validity").attr("disabled", "disabled");
                } else {
                    $("#password-validity").attr("disabled", "disabled");
                    $("#remove-password-validity").removeAttr("disabled");
                }
            }

            var passwordVisible = false;
            function showPassword() {
                var showPasswordUrl = "url([[@{/images/show_password.png}]])";
                var hidePasswordUrl = "url([[@{/images/hide_password.png}]])";
                passwordVisible = !passwordVisible;
                if (passwordVisible) {
                    $("#password").attr("type", "text");
                    $("#show-hide-password").css("background-image", hidePasswordUrl);
                } else {
                    $("#password").attr("type", "password");
                    $("#show-hide-password").css("background-image", showPasswordUrl);
                }
            }

            function copyPasswordToClipboard() {
                var password = $("#password").val();
                $("body").append(`<input id="temp_password" type="text" value="${password}"/>`);
                $("#temp_password").select();
                document.execCommand("copy");
                $("#temp_password").remove();
            }

            function generatePassword() {
                var type = $("input[name='password-type']:checked").val();
                var length = $("#password-length").val();
                var params = {type: type, length: length};
                var params = $.param(params);
                var url = `[(@{/rest/entries/generate-password?${params}})]`;
                $.get(url, function (data, textStatus, xhr) {
                    if (xhr.responseJSON) {
                        $("#password").val(data.password);
                    }
                });
            }
        </script>
    </head>
    <body>
        <div layout:fragment="content" id="content">
            <h3 th:text="#{entry.save}" />
            <form th:action="@{/entries/save}" th:object="${entry}" method="post">
                <input type="hidden" th:field="*{id}" />
                <table id="fields-table">
                    <tr>
                        <td th:text="#{entry.name}"></td>
                        <td><input type="text" th:field="*{name}" autofocus="autofocus" /></td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{name}"></td></tr>
                    <tr>
                        <td th:text="#{entry.login}"></td>
                        <td><input type="text" th:field="*{login}" /></td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{login}"></td></tr>
                    <tr>
                        <td th:text="#{entry.email}"></td>
                        <td><input type="email" th:field="*{email}" /></td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{email}"></td></tr>
                    <tr>
                        <td th:text="#{entry.phone}"></td>
                        <td><input type="tel" th:field="*{phone}" /></td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{phone}"></td></tr>
                    <tr>
                        <td th:text="#{entry.description}"></td>
                        <td><textarea id="edit-description" th:field="*{description}" rows="3" /></td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{description}"></td></tr>
                    <tr>
                        <td th:text="#{entry.group}"></td>
                        <td>
                            <select name="group">
                                <option th:text="#{entry.group.empty}" value="" th:selected="${entry.group == null}"></option>
                                <option th:each="group : ${groups}" th:text="${group.name}" th:value="${group.id}"
                                        th:selected="${entry.group != null && entry.group.id == group.id}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{group}"></td></tr>
                    <tr>
                        <td id="password-header" th:text="#{entry.password}"></td>
                    </tr>
                </table>
                <div id="password-wrapper">
                    <!--Password-->
                    <div id="password-container">
                        <input id="password" type="password" name="password" th:value="*{password}"/>
                        <button type="button" class="image-button" id="show-hide-password" onclick="showPassword()" 
                                th:style="'background-image: url(' + @{/images/show_password.png} + ')'"></button>
                        <button type="button" class="image-button" onclick="copyPasswordToClipboard()" 
                                th:style="'background-image: url(' + @{/images/copy.png} + ')'" />
                        <button type="button" id="generate-password" th:text="#{entry.password.generate}" onclick="generatePassword()" />
                    </div>
                    <div class="error" th:errors="*{password}"/>
                    <!--Password type and length-->
                    <div>
                        <span th:text="#{entry.password.length}"></span>
                        <input type="text" id="password-length" value="15" size="3"/>
                        <td th:text="#{entry.password.length.symbols}"/>
                        <input type="radio" name="password-type" value="simple" checked="checked"/>
                        <label for="password-type-simple" th:text="#{entry.password.simple}" />
                        <input type="radio" name="password-type" value="complex" />
                        <label for="password-type-complex" th:text="#{entry.password.complex}" />
                    </div>
                    <!--Password Validity-->
                    <div>
                        <span th:text="#{entry.password.validity}"></span>
                        <div>
                            <input type="checkbox" name="remove-password-validity" id="remove-password-validity" onclick="setPasswordValidityEnabled()"/>
                            <label for="remove-password-validity" th:text="#{entry.password.no.validity}"/>
                        </div>
                        <div>
                            <input type="checkbox" name="prolong-password" id="prolong-password" onclick="setPasswordValidity()"/>
                            <label for="prolong-password" th:text="#{entry.password.validity.prolong}"/>
                            <input type="text" name="password-validity" id="password-validity"
                                   disabled="disabled" value="3" size="2" />
                            <span th:text="#{entry.password.validity.months}" />
                        </div>
                    </div>
                </div>
                <div>
                    <input id="button_save" type="submit" th:value="#{save}" />
                </div>
            </form>
        </div>
    </body>
</html>