<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title th:text="#{entry.list}"></title>
        <link rel="stylesheet" th:href="@{/css/entries.css}" />
        <script type="text/javascript">
            $(document).ready(function () {
                loadGroups();
                find();
            });

            function find() {
                var name = $("#txtFind").val();
                var group = $("#select-group").val();
                var params = {"name": name, "group": group};
                var url = "[[@{/rest/entries?}]]" + $.param(params);
                $.get(url, function (data, textStatus, xhr) {
                    if (xhr.responseJSON) {
                        renderTable(data);
                    }
                });
            }

            function loadGroups() {
                $("#select-group").empty();
                //Add all groups
                $("#select-group").append('<option value="all">[[#{entry.groups.all}]]</option>');
                //Add without group
                $("#select-group").append('<option value="empty">[[#{entry.group.empty}]]</option>');
                //Add other groups
                var url = "[[@{/rest/groups}]]";
                $.get(url, function (data) {
                    $.each(data, function (i, item) {
                        $("#select-group").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            }

            function deleteEntry(entryId) {
                if (!confirm("[[#{entry.delete.confirm}]]")) {
                    return;
                }
                var url = `[[@{/rest/entries/delete/${entryId}}]]`;
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $.ajax({url: url,
                    type: 'post',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    }
                }).done(function (data) {
                    find();
                });
            }

            function renderTable(data) {
                var copyImageUrl = "[[@{/images/copy.png}]]";
                var deleteImageUrl = "[[@{/images/delete.png}]]";
                $("#datatable > tbody").empty();
                $.each(data, function (i, item) {
                    $row = $("<tr/>").appendTo("#datatable > tbody");
                    if (item.daysLeft !== null && item.daysLeft < 30) {
                        $row.attr("class", "expired");
                    }
                    var editUrl = `[[@{/entries/edit/${item.id}}]]`;
                    $row.append($('<td/>')
                            .append($('<div class="nameContainer" onmouseenter="onNameMouseEnter(this)" onmouseleave="onNameMouseLeave(this)"/>')
                                    .append(`<a href="${editUrl}">${item.name}</a>`)
                                    .append(`<button class="image-button hidden" style="background-image: url(${copyImageUrl})" onclick="copyPasswordToClipboard(${item.id})"/>`)));
                    $row.append('<td>' + (item.login === null ? "" : item.login) + '</td>');
                    $row.append('<td>' + (item.email === null ? "" : item.email) + '</td>');
                    $row.append('<td>' + (item.phone === null ? "" : item.phone) + '</td>');
                    $row.append('<td>' + (item.description === null ? "" : item.description) + '</td>');
                    $row.append('<td class="daysLeft">' + (item.daysLeft === null ? "" : item.daysLeft) + '</td>');
                    $row.append($('<td class="deleteColumn"></td>')
                            .append(`<button type="button" class="image-button" style="background-image: url(${deleteImageUrl})" onclick="deleteEntry(${item.id})"/>`));
                });
            }

            function copyPasswordToClipboard(id) {
                var url = `[[@{/rest/entries/getpassword/${id}}]]`;
                $.get({url: url, async: false}, function (data, textStatus, xhr) {
                    if (xhr.responseJSON) {
                        var password = data.password;
                        $("body").append(`<input id="temp_password" type="text" value="${password}"/>`);
                        $("#temp_password").select();
                        document.execCommand("copy");
                        $("#temp_password").remove();
                    }
                });
            }

            function onNameMouseEnter(div) {
                $(div).find("button").css("visibility", "visible");
            }

            function onNameMouseLeave(div) {
                $(div).find("button").css("visibility", "hidden");
            }
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="header" th:text="#{entry.list}" />
            <div id="find-container">
                <div th:text="#{entry.find}" />
                <input type="text" id="txtFind" autofocus="autofocus" onkeyup="find()" />
                <div th:text="#{entry.findby.group}" />
                <select id="select-group" onchange="find()"></select>
            </div>
            <a th:href="@{/entries/create}" th:text="#{entry.create}"></a>
            <table id="datatable" class="datatable">
                <thead>
                    <tr>
                        <th class="name" th:text="#{entry.name}"></th>
                        <th th:text="#{entry.login}"></th>
                        <th th:text="#{entry.email}"></th>
                        <th class="phone" th:text="#{entry.phone}"></th>
                        <th th:text="#{entry.description}"></th>
                        <th class="daysLeft" th:text="#{entry.days.left}"></th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody/>
            </table>
        </div>
    </body>
</html>