<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title th:text="#{entries.list}"></title>
        <link rel="stylesheet" th:href="@{/css/entries.css}" />
        <script type="text/javascript">
            var wideMedia = window.matchMedia("(min-width: 1024px)");
            wideMedia.addListener(function () {
                loadGroups();
            });

            $(document).ready(function () {
                loadGroups();
                findAll();
            });
            function findAll() {
                var url = "[[@{/rest/entries}]]";
                $.get(url, function (data, textStatus, xhr) {
                    if (xhr.responseJSON) {
                        renderTable(data);
                    }
                });
            }

            function findByName(name) {
                if (name.length < 2) {
                    $("#txtFind").addClass("wrong-value");
                    findAll();
                } else {
                    $("#txtFind").removeClass("wrong-value");
                    var url = `[[@{/rest/entries?name=${name}}]]`;
                    $.get(url, function (data, textStatus, xhr) {
                        if (xhr.responseJSON) {
                            renderTable(data);
                        }
                    });
                }
            }

            function findByGroup(groupId) {
                if (groupId === undefined) {
                    findAll();
                } else {
                    var url = `[[@{/rest/entries/group/${groupId}}]]`;
                    $.get(url, function (data, textStatus, xhr) {
                        if (xhr.responseJSON) {
                            renderTable(data);
                        }
                    });
                }
            }

            function loadGroups() {
                if (!wideMedia.matches) {
                    return;
                }
                var url = "[[@{/rest/groups}]]";
                $("#groups").empty();
                $("#groups").append('<input type="button" value="[[#{entry.groups.all}]]" onclick="findByGroup()" />');
                $.get(url, function (data) {
                    $.each(data, function (i, item) {
                        $("<input>")
                                .attr("type", "button")
                                .attr("value", item.name)
                                .attr("onclick", `findByGroup(${item.id})`)
                                .appendTo("#groups");
                    });
                });
            }

            function deleteEntry(entryId) {
                if (!confirm("[[#{entry.delete.confirm}]]")) {
                    return;
                }
                var url = `[[@{/rest/entries/delete/${entryId}}]]`;
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $.ajax({url: url,
                    type: 'post',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    }
                }).done(function (data) {
                    findAll();
                });
            }

            function renderTable(data) {
                var copyImageUrl = "[[@{/images/copy.png}]]";
                var editImageUrl = "[[@{/images/edit.png}]]";
                var deleteImageUrl = "[[@{/images/delete.png}]]";
                var editUrl = "[[@{/entries/edit/}]]";
                $("#datatable > tbody").empty();
                $.each(data, function (i, item) {
                    var $row = $("<tr/>").appendTo("#datatable > tbody");
                    if (item.daysLeft !== null && item.daysLeft < 30) {
                        $row.attr("class", "expired");
                    }
                    $("<td class='name'>" + item.name + "</td>").appendTo($row);
                    $("<td class='login'>" + (item.login === null ? "" : item.login) + "</td>").appendTo($row);
                    $("<td class='email'>" + (item.email === null ? "" : item.email) + "</td>").appendTo($row);
                    $("<td class='description'>" + (item.description === null ? "" : item.description) + "</td>").appendTo($row);
                    $("<td class='daysLeft'>" + (item.daysLeft === null ? "" : item.daysLeft) + "</td>").appendTo($row);
                    $buttonCopy = $("<td class='buttons' />").appendTo($row);
                    $buttonEdit = $("<td class='buttons' />").appendTo($row);
                    $buttonDelete = $("<td class='buttons' />").appendTo($row);
                    $(`<button type="button" style="background-image: url(${copyImageUrl})" onclick="copyPasswordToClipboard(${item.id})" />`).appendTo($buttonCopy);
                    $(`<button type="button" style="background-image: url(${editImageUrl})" onclick="location.href='${editUrl + item.id}'" />`).appendTo($buttonEdit);
                    $(`<button type="button" style="background-image: url(${deleteImageUrl})" onclick="deleteEntry(${item.id})" />`).appendTo($buttonDelete);
                });
            }

            function copyPasswordToClipboard(id) {
                var url = `[[@{/rest/entries/getpassword/${id}}]]`;
                $.get({url: url, async: false}, function (data, textStatus, xhr) {
                    if (xhr.responseJSON) {
                        var password = data.password;
                        $("body").append(`<input id="temp_password" type="text" value="${password}"/>`);
                        $("#temp_password").select();
                        document.execCommand("copy");
                        $("#temp_password").remove();
                    }
                });
            }

            function showPassword(id) {
                var url = `[[@{/rest/entries/getpassword/${id}}]]`;
                $.get(url, function (data, textStatus, xhr) {
                    if (xhr.responseJSON) {
                        alert(data.password);
                    }
                });
            }
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="header" th:text="#{entries.list}" />
            <div id="find-container">
                <div th:text="#{entry.find}" />
                <input type="text" id="txtFind" autofocus="autofocus" onkeyup="findByName(this.value)" />
            </div>
            <div id="groups-container">
                <div th:text="#{entry.groups}" />
                <div id="groups"></div>
            </div>
            <div>
                <a th:href="@{/entries/create}" th:text="#{entry.create}"></a>
            </div>
                <div style="width: 100%;">
                    <table id="datatable" class="datatable">
                    <thead>
                        <tr>
                            <th th:text="#{entry.name}"></th>
                            <th class="login" th:text="#{entry.login}"></th>
                            <th class="email" th:text="#{entry.email}"></th>
                            <th class="description" th:text="#{entry.description}"></th>
                            <th th:text="#{entry.days.left}"></th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </body>
</html>