<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title th:text="#{group.list}"></title>
        <script type="text/javascript">
            function confirmDelete() {
                return confirm("[[#{group.delete.confirm}]]");
            }
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="header" th:text="#{group.list}" />
            <div class="error" th:text="${error}" />
            <table class="datatable">
                <tr>
                    <th th:text="#{group.name}"></th>
                    <th></th>
                </tr>
                <th:block th:each="group: ${groups}" >
                    <tr>
                        <td>
                            <a th:href="@{/groups/edit/{groupId}(groupId=${group.id})}" th:text="${group.name}"></a>
                        </td>
                        <td class="deleteColumn">
                            <form th:action="@{/groups/delete/{groupId}(groupId=${group.id})}" method="post" onsubmit="return confirmDelete();">
                                <input type="submit" value="" class="image-button" th:style="'background-image: url(' + @{/images/delete.png} + ')'" />
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>
            <div>
                <a th:href="@{/groups/create}" th:text="#{group.create}"></a>
            </div>
        </div>
    </body>
</html>
