<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>PSM</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
        <link rel="stylesheet" th:href="@{/css/layout.css}" />
        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    </head>
    <body>
        <header>
            <img th:src="@{/images/icon.png}" alt="PSM" />
            <div id="header-container">
                <div id="header-logout">
                    <div th:text="#{you.are.logged.as} + ' ' + ${#authentication == null ? '' : #authentication.principal}"></div>
                    <form id="logout-form" th:action="@{/logout}" method="post">
                        <input type="submit" th:value="#{layout.link.logout}"/>
                    </form>
                </div>
                <div id="header-links">
                    <a th:href="@{/entries}" th:text="#{layout.link.entries}"></a>
                    <a th:href="@{/groups}" th:text="#{layout.link.groups}"></a>
                    <th:block sec:authorize="hasAuthority('admin')">
                        <a th:href="@{/users}" th:text="#{layout.link.users}"></a>
                    </th:block>
                </div>
            </div>
        </header>
        <div layout:fragment="content" id="content"></div>
        <footer>
            <div>v.1.1 Powered by mknv</div>
        </footer>
    </body>
</html>