<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title th:text="#{user.create}"></title>
        <link rel="stylesheet" th:href="@{/css/users.css}"/>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="header" th:text="#{user.create}" />
            <form th:action="@{/users/create}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}" />
                <table>
                    <tr>
                        <td th:text="#{user.name}"></td>
                        <td><input type="text" th:field="*{name}" autofocus="autofocus"/></td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{name}"></td></tr>
                    <tr>
                        <td th:text="#{user.password}"></td>
                        <td><input type="password" id="password" th:field="*{password}"/></td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{password}"></td></tr>
                    <tr>
                        <td th:text="#{user.roles}"></td>
                        <td>
                            <div th:each="role : ${roles}" class="role">
                                <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" />
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2" class="error" th:errors="*{roles}"></td></tr>
                    <tr><td colspan="2" class="error" th:text="${error}"></td></tr>
                    <tr>
                        <td colspan="2"><input type="submit" th:value="#{save}" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>