/*LIST*/
#find-container{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#find-container>*{
    margin-right: 5px;
}


#datatable{
    width: 100%;
}

.nameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    width: 20%;
}

.phone{
    width: 15%;
}

.daysLeft{
    text-align: center;
    width: 5%;
}

.expired{
    background-color: pink;
}

.hidden{
    visibility: hidden;
}

/*EDIT*/

#fields-table input, #fields-table textarea {
    width: 20em;
}

#password-header{
    font-size: larger;
}

#password-wrapper>div{
    padding-top: 10px;
}

#password-container{
    display: flex;
    align-items: center;
}

#generate-password{
    margin-left: 5px;
}

#button_save{
    margin-top: 10px;
    font-size: large;
}