@media screen and (max-width: 1024px){
    input{
        font-size: medium;
    }
}

.datatable th{
    background-color: #4CAF50;
    color: white;
}

.datatable{
    margin-bottom: 10px;
    border-collapse: collapse;
    word-break: break-all;
}

.datatable td, .datatable th{
    padding: 3px;
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: central;
}

.header{
    font-size: large;
}

.error{
    color: red;
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}