<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="#{login.page.title}"></title>
        <link rel="stylesheet" th:href="@{/css/login.css}" />
    </head>
    <body>
        <form th:action="@{/login}" method="post">
            <h3 th:text="#{login.header}"/>
            <input type="text" name="username" th:placeholder="#{login.username}" autofocus="autofocus"/>
            <input type="password" name="password" th:placeholder="#{login.password}"/>
            <input type="submit" th:value="#{login.submit}"/>
        </form>
    </body>
</html>